* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 4em auto;
}

.box-model {
    max-width: 600px;
    margin: 4em auto;
}

.box-model div {
    border: 1px dashed #333;
    padding: 0.9em 2em 2em 2em;
}

.margin {
    background-color: #ff966f;
}

.margin::before {
    display: block;
    content: 'margin';
}

.border {
    background-color: #ffe8c6;
}

.border::before {
    display: block;
    content: 'border';
}

.padding {
    background: #85eb85;
}

.padding::before{
    display: block;
    content: 'padding';
}

.content {
    background: #a3d2e2;
    text-align: center;
}
