.container{
    border: 2px solid rgb(103, 155, 250);
    padding: 20px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    /* align-content: flex-start; */
    /* align-content: center; */
    /* align-content: flex-end; */
    /* align-content: space-between; */
    align-content: space-around;
}

.container .item{
    border: 2px solid rgb(42, 90, 179);
    padding: 20px;
    background: rgb(103, 155, 250);
}


