/* Adjacent Sibling Combinator */
/* two or more p and one after another */
.containerOne p + p {
    background-color: rgb(119, 189, 255);
}

/* General Sibling Combinator */
.containerTwo p ~ span {
    background-color: rgb(104, 218, 76);
}

p span {
    color: red;
}

/* Child Combinator */
p > a {
    background-color: rgb(245, 87, 184);
    color: white;
    text-decoration: none;
}

/* Attribute and Class Combination */
input[type="text"] {
    background-color: rgb(241, 176, 101);
    display: block;
}



div {
    margin: 2em 0 4em 0;
}

input{
    margin: 0.5em;
}
