* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0 0 0.7em 0;
}

.content {
    margin: 0 auto;
    /* max-width: 1000px; */
    display: flex;
    flex-wrap: wrap;
    gap: 2em 4em;
}

.content > header,
.content > footer{
    margin: 2em 0;
    flex: 0 0 100%;
    text-align: center;
}

.content > footer{
    margin: 2em auto;
    max-width: 80%;
}

.content article{
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em 1em;
}

.content article div {
    flex: 1 1 calc( ( 100% - ( 2 * 4em ) ) / 3 );
}



