* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0 0 0.7em 0;
}

.content {
    margin: 0 auto;
    /* max-width: 1000px; */
}

.picture {
    min-height: 853px;
    background-image: url("images/image1.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.picture h2 {
    color: white;
    font-size: 2em;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-shadow: 0 0 3px black;
    padding: 25% 0 0 39%;
}

.picture span {
    color: white;
    font-size: 1em;
    /* position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-shadow: 0 0 3px black;
    padding: 0 0 0 39%;
}
