* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0 0 0.7em 0;
}

html {
    border: none;
}

body {
    font: 14px/1.5 Lato, sans-serif;
    background: rgb(206, 234, 253);
    padding: 2em 2em;
}

.content {
    padding: 2em;
}

.main-navigation ul ul,
.main-navigation {
    background: #EEE;
    border-radius: 0.3em;
    border: 1px solid #ccc;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
}

.main-navigation > ul {
    display: flex;
    padding: 0 0.25em;
}

.main-navigation ul ul {
    display: none;
    flex-direction: column;
    padding: 0.25em 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 18em;
    z-index: 200;
    background: #eee;
}

.main-navigation ul ul ul {
    top: -0.25em;
    left: 100%;
}

.main-navigation li {
    display: block;
    list-style: none outside;
    position: relative;
    padding: 0.5em 0.25em;
}

.main-navigation li li {
    padding: 0.25em 0.5em;
}

.main-navigation a {
    display: block;
    text-decoration: none;
    color: darkorange;
    padding: 0.6em 1em;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    line-height: 1;
}

.main-navigation a:hover {
    background: darkorange;
    color: #fff;
    position: relative;
    z-index: 300;
}

.main-navigation li:hover > ul {
    display: flex;
}
